<!DOCTYPE html>
<html lang="fr-FR">
{% load static %}
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <style>
        .btn{
            width: 125px !important;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="{% static 'img/logo.png' %}" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Login' %}">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <b>Log In</b>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary text-light" href="{% url 'Login' %}">
                            <b>Get Start</b>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section id="banner" class="my-5 py-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 text-center m-auto">
                    <h1>{{ banner.title }}</h1>
                    <p class="p-4">{{ banner.subtitle }}</p>
                    <!-- <iframe width="600" height="330" src="https://www.youtube.com/embed/{{ banner.link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
                    <img class="w-100" src="{% static 'img/banner.gif' %}" alt="">
                    <br>
                    <br>
                    <br>
                    <a class="btn btn-primary text-light" href="{% url 'Login' %}">
                        <b>Get Start</b>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="intro" class="my-5 py-5">
        <div class="container">
            <div class="row">
                {% for obj in intro %}
                <div class="col-md-3 text-center m-auto">
                    <div class="intro-section">
                        <img src="{% static 'img/img.png' %}" alt="">
                        <h2><b>{{ obj.title }}</b></h2>
                        <p>{{ obj.subtitle }}</p>
                    </div>
                </div>
                <div class="com-md-1"></div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section id="pricing" class="my-5 py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>{{ pric.title }}</h1>
                    <p>{{ pric.subtitle }} {{ pric.features_set }}</p>
                </div>
            </div>
        </div>
    </section>
    <section id="pricing" class="my-5 py-5">
        <div class="container">
            <div class="row">
                <div class="col d-flex align-items-stretch flex-column">
                    <div class="card">
                        <div class="card-header text-center">
                            <h5>Pay as Go</h5>
                        </div>
                      <div class="card-body pt-0">
                        <div class="row">
                              <div class="col-12 text-center" style="padding: 20px 0 30px 0;">
                                <p><b>You have to pay <b> $0.01 per line</b> depending upon <b>No of queries </b></b></p>
                                <p><b>0.01 $ / lines</b></p>
                                   <p><b>Expensive for regular customers</b></p>
                                   <p><b>Buy any plan to save your cost</b></p>
                              </div>
                        </div>
                      </div>
                      <div class="card-footer">
                        <div class="text-center">
                          <a href="{% url 'dashboard' %}" class="btn btn-md btn-info">
                            <i class="fas fa-sign-in-alt"></i> Pay as Go
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                {% for plan in pricing %}
                <div class="col d-flex align-items-stretch flex-column">
                    <div class="card">
                        <div class="card-header text-center">
                            <h5>{{plan.title}}</h5>
                        </div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-12 text-center mt-2">
                            <img src="{{plan.plan_img.url}}" alt="user-avatar" class="img-circle img-fluid">
                            </div>
                            <br>
                            <div class="col-12 text-center">
                                <p><b>Price: ${{plan.price}}</b></p>
                                <p><b>{{plan.no_of_lines}} lines per month</b></p>
                                <p><b>{{ plan.perline_price }} $ / lines</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="text-center">
                        <a href="{% url 'checkout' plan.id %}" class="btn btn-md btn-info">
                            Subscribe Now
                        </a>
                        </div>
                    </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section id="start" class="my-5 py-5">
        <div class="container">
            <div class="col-md-8 text-center m-auto">
                <h3><b>{{ last.title }}</b></h3>
                <p>{{ last.subtitle }}</p>
                <a href="{% url 'Login' %}" class="btn btn-outline-primary">Login</a>
                <a href="{% url 'Login' %}" class="btn btn btn-primary">Get Start</a>
            </div>
        </div>
    </section>
    <footer id="footer" class="bg-dark pt-4 pb-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h6 class="text-light">Neve | Propulsé par WordPress</h6>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
</body>

</html>