{#<footer class="main-footer">#}
  {#        <div  style="padding-left:600px;">#}
  {#            <strong>Copyright &copy; 2020-2021 <a href="#">BCDR</a>.</strong> All rights reserved.#}
  {##}
  {#        </div>#}
  {##}
  {#</footer>#}
{#<script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/coinMarquee.js"></script>#}

  
  
  
{#     <footer class="main-footer ">#}
{#  #}
{##}
{#      <strong>Copyright &copy; 2022</strong> #}
{#         <div class="pull-left hidden-xs " style="margin-bottom: -1px;margin-left: -15px;background: #ECF0F5;color:black;">#}
{#        #}
{#         <div id="coinmarketcap-widget-marquee" coins="1,1027,825,3408,1839,4687,52,2010,5426,74,4943,6636,1958,5994,3957,5805,3717,3890,7083,2" currency="USD" theme="light" transparent="false" show-symbol-logo="true"></div>#}
{#       #}
{#         </div>#}
{#        </footer>#}

 <footer class="main-footer">
    <strong>Copyright &copy; 2022 <a href="#">EXSCRAPY</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">

    </div>
  </footer>