{% extends 'base2.html' %}
{% load notifications_tags %}

{% block title %}
Notification
{% endblock %}
{% block content %}
<style>
    .alert-success-read {
        color: #000;
        background-color: #b0c4b580;
        border-color: #b0c4b580;
    }
    .alert-success-read a {
        color: #000;
    }
</style>
<body class="hold-transition light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card mt-4">
                                <div class="card-body">
                                You have total <strong>{% live_notify_badge %}</strong> unread notifications. <br> <br>
                                
                                {% for obj in notification_list %}
                                <div class="alert {% if obj.unread %} alert-success {% else %} alert-success-read {% endif %} mb-2" role="alert">
                                    {{ obj.verb|safe }}
                                    <input type="hidden" name="value" class="value" value="{{ obj.pk }}">
                                </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $(".alert").click(function () {
                var value = $(this).children("input.value").val();
                $.ajax({
                    url: "{% url 'read_notification' %}",
                    data: {
                        'value': value,
                    },
                    success: function (data) {
                        console.log(data);
                    },
                });
            });
        });
    </script>
</body>
{% endblock %}
