{% extends 'base2.html' %}
{% load static notifications_tags %}

{% block title %}
Dashboard
{% endblock %}
{% block content %}
<body class="hold-transition light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Check Data</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                <li class="breadcrumb-item active">Request Confirmation</li>
                            </ol>

                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-md-7">

                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title"> Request Confirmation</h3>

                                </div>

                                <p class="card-body">&nbsp;<b>You are going to Extract data from {{ selected_items }}
                                        places queries</b></p>


                                {# <table id="example2" class="table table-bordered table-hover">#}
                                    {##}
                                    {##}
                                    {# <thead>#}
                                        {# <tr>#}
                                            {##}
                                            {# <th>Places</th>#}
                                            {##}
                                            {##}
                                            {# </tr>#}
                                        {# </thead>#}
                                    {# <tbody>#}
                                        {# {% for item in few_lines %}#}
                                        {# <tr>#}
                                            {##}
                                            {##}
                                            {# <td>{{item}}</td>#}
                                            {##}
                                            {# </tr>#}
                                        {# {% endfor %}#}
                                        {##}
                                        {# </tbody>#}
                                    {##}
                                    {##}
                                    {# </table>#}
                            </div>


                        </div>

                        <div class="col-md-5">

                            <div class="card card-primary">

                                <div class="position-relative p-3 bg-gradient-light" style="height: 380px">
                                    <div class="ribbon-wrapper ribbon-lg">
                                        <div class="ribbon bg-success text-lg">
                                            Note
                                        </div>
                                    </div>
                                    <br>
                                    <ul>
                                        <li>
                                            A query on one places allow you to get a result <br> page and we crawl every
                                            page
                                        </li>
                                        <br>
                                        <p> <b>Approximate Estimations of your requests:</b></p>
                                        <li>
                                            {{ sum_queries }} queries to perform for crawl each page result of each
                                            location.
                                        </li>
                                        <li>
                                            <b>{{ num }}</b> rows can be export with this request.
                                        </li>
                                        <li>
                                            <b>{{ expected_price }} $</b> cost for this request.
                                        </li>
                                        <li>
                                            <b>{{ expected_time_min }} (hh:mm:ss) to {{ expected_time_max }} (hh:mm:ss)
                                                Time requrired</b> for delivering the data.
                                        </li>
                                    </ul>

                                        <input type="submit" class="btn btn-lg btn-primary" id="Login"
                                            onclick="showDiv()" value="Get Data">

                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                </div>
            </section>
            <!-- /.content -->
        </div>

        <div id="loadingGif" style="display:none">

            <img id="loading-image" style="height: 160px;width: 160px" src="{% static 'dist/img/loader.gif' %}"
                alt="Loading..." />
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script type="text/javascript">
        function showDiv() {
            document.getElementById('Login').style.display = "none";
            document.getElementById('loadingGif').style.display = "block";
            setTimeout(function () {
                document.getElementById('loadingGif').style.display = "none";

            }, 1200);
        }
        
    </script>
    <script>
        $(function () {

            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "responsive": true,
            });
        });
    </script>

</body>


{% endblock %}